*{

    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;

}
:root{

    /* Primary colors */
    --Strong-cyan: hsl(172, 67%, 45%);

    /* neutral colors */
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan-darker: hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan-darker: hsl(185, 41%, 84%);
    --Light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    font-size: 62.5%;

}

body{
    width: 100vw;
    height: 100vh;
    background: var(--Light-grayish-cyan-darker);
    display: flex;
}

body > main{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    height: 50%;
    background: var(--White);
    padding: 5rem;
    border-radius: 2.5rem;
}
.sr-only{
    position:absolute;
    height: 1px;
    padding:0;
    margin:-1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space:nowrap;
    border-width: 0;
}

body > main .container{
    width: 45%;
    height: 100%;
    background: var(--Very-dark-cyan);
    border-radius: 1rem;
}
body > main .container.actions h2{
    color: var( --Dark-grayish-cyan-darker);
    margin-bottom: .75rem;
}
body main .container.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--White);
}

body main .container.actions form{
    
    background: var(--Light-grayish-cyan) ;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: .6rem ;

    display: flex;
    justify-content: space-between;

}
body main .container.actions .image{
    width: 1rem;

}

body main .container.actions form input{
    background: none;
    outline: none;
    text-align: end;
    width: 100%;
    height: 100%;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--Dark-grayish-cyan);
    word-break: break-word;
    overflow: hidden;
}

body main .container.actions form input::placeholder{
    font-size: 1.75rem;
    font-weight: 700;
    color: #9ebbbd;
}

