*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    overflow: hidden;

}
:root{

    /* Primary colors */
    --Strong-cyan: hsl(172, 67%, 45%);

    /* neutral colors */
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan-darker: hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan-darker: hsl(185, 41%, 84%);
    --Light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    font-size: 62.5%;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--Light-grayish-cyan-darker);
    display: flex;
}

body > main{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: min(96rem, 90%);
    height: min(45rem, 80%);
    background: var(--White);
    padding: 4rem;
    border-radius: 2rem;
    opacity: 0;
    animation: open 2s ease-out .5s  forwards;
}
.sr-only{
    position:absolute;
    height: 1px;
    padding:0;
    margin:-1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space:nowrap;
    border-width: 0;
}

body > main .container{
    width: 45%;
    height: 100%;
    background: var(--Very-dark-cyan);
    border-radius: 1rem;
}
body > main .container.actions h2{
    color: var(--Dark-grayish-cyan-darker);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .9rem;
}
body main .container.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--White);
}

/* form styles */

body main .container.actions form{

    background: var(--Light-grayish-cyan) ;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: .6rem ;

    display: flex;
    justify-content: space-between;

}
body main .container.actions .image{
    width: 2rem;
    margin: auto;
}

body main .container.actions form input{
    background: none;
    outline: none;
    text-align: end;
    width: 100%;
    height: 100%;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--Dark-grayish-cyan);
    word-break: break-word;
    overflow: hidden;
}

body main .container.actions form input::placeholder{
    font-size: 1.75rem;
    font-weight: 700;
    color: #9ebbbd;
}

/* action buttons */


body main .container.actions .actions{
    height: 15rem;
}
body main .container.actions .actions > h2{
    margin-bottom: 1rem;
}
body main .container.actions .actions button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5rem;
    border-radius: .5rem;
    background: var(--Very-dark-cyan) ;
    color: var(--White);
    font-size: 2rem;
    font-weight: 700;
    transition: .5s ease-out;
}
body main .container.actions .actions button > p:nth-child(1) {
    margin-right: .3rem;
}

body main .container.actions .actions button:hover{
    background: var(--Strong-cyan) ;
    color: var(--Very-dark-cyan);
    cursor: pointer;
}

body main .container.actions .actions form{
    background: var(--Light-grayish-cyan) ;
    width: 30%;
    height: 10%;
}

body main .container.actions .actions form .custom:placeholder{
    color: var(--Very-dark-cyan);
    background: var(--Light-grayish-cyan) ;
    margin: .5rem;
    font-weight: 700;
    width: 30%;
    height: 10%;
}
body main .container.actions .actions form input{
    color: var(--Very-dark-cyan);
    margin: .5rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
}

body main .container.actions .actions h2 + div{
    margin-bottom: 1.5rem ;
}

body main .container.actions .actions .line{
    display: flex;
    justify-content: space-between;
}

/* container display styles */
body  main .container.display{
   padding: .5rem 4rem 4rem 4rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

body  main .container.display  .containerValue{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 body  main .container.display .containerValue .value{
    height: 100%;
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
    color: var(--Strong-cyan);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
 }
 body  main .container.display .containerValue .valueTitle{
    color: var(--Light-grayish-cyan-darker);
    font-size: 1.4rem;
    font-weight: 700;
 }
 body  main .container.display .containerValue .perPerson{
    color: var(--Dark-grayish-cyan);
    font-size: .9rem;
    font-weight: 700;
 }
 body  main .container.display > button{
    background: var(--Dark-grayish-cyan-darker);
    color: var(--Very-dark-cyan);
    font-size: 2rem;
    font-weight: 700;
    height: 15%;
    border-radius: .3rem;
    font-family: sans-serif;
    transition: .3s linear;
 }

body  main .container.display > button:hover{
    background: var(--Strong-cyan);
    cursor: pointer;
}

@keyframes open {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    body > main{
      display: flex;
      flex-direction: column;
      height: 90%;
      width: 100%;
      margin: 10rem 0 ;
    }
    body > main .container{
        width: 100%;
        height: 100%;
        background: var(--Very-dark-cyan);
        border-radius: 1rem;
    }
    body > main .container.container.actions{
      margin: 0 0 2rem 0 ;
    }
    body main .container.actions .actions form .custom:placeholder{
        margin: .5rem;
        font-weight: 700;
        font-size: .2rem ;
       
    }

  }